<a href="https://colab.research.google.com/github/bekasylzatybek/labs/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Python Iterators
"""Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:"""

'Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.\n\nAll these objects have a iter() method which is used to get an iterator:'

In [3]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [4]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [5]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [6]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a